@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

p {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

form {
    width: 95%;
    max-width: 60rem;
    padding: 4rem;
    box-shadow: -.5em 1em 1em rgba(0, 0, 0, 0.089);
    border: .2rem solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    gap: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.camp {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.camp.alert {
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 208, 0, 0.479);
}

.camp.error {
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 0, 0, 0.24);
}

.camp.error.hidden {
    display: none;
}

label {
    font-size: clamp(1.6rem, 2vw, 1.8rem);
}

input {
    padding: 1.5rem;
    font-size: 1.4rem;
    border: none;
    box-shadow: inset 0em 0em .5em rgba(0, 0, 0, 0.123);
    border-radius: 1rem;
}

button {
    position: relative;
    background: rgb(21, 146, 204);
    border: none;
    outline: none;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: background .2s;
}

img {
    width: 50%;
}

ion-icon {
    font-size: 8rem;
    color: rgb(21, 146, 204);
}

[hidden] {
    display: none !important;
}